<p>Hello <%= @resource.email %>!</p>

<p>We're contacting you to notify you that your password has been changed.</p>

<p>If you did not change the password by yourself then please contact our support at support@florensia-online.com immediately!</p>

<p>In the latter case please tell us your account name and your last login to that account.</p>
